In [ ]:
print("Hello World!")

In [ ]:
name = input("What's your name?\n")
print("Hello,", name)

In [ ]:
a, b = map(int, input().split())
print(a + b, a - b, a * b, a // b, a % b)

In [ ]:
a1, b1, c1, a2, b2, a3 = map(float, input().split())
result = ((a1 + b1 + c1) + (a2 + b2) * 2 + a3 * 3) / 10
print(f"{result:.1f}")

In [ ]:
a, b = map(int, input().split())
print(a ** b)

In [ ]:
a = input()
print(ord(a))
print(chr(ord(a) + ord('A') - ord('a')))

In [ ]:
a = ((13 ** 2) * 3) + 5
b = 13**2*3 + 5
print(a, b)

In [ ]:
c = float(input())
f = 9 / 5 * c + 32
print(f"{f:.2f}")

In [ ]:
x = float(input())
x = (x + 10) * (1 + 0.4)
print(f"{x:.2f}")

In [ ]:
a, b, c = input().split()
print(c, b, a)

In [ ]:
a, b = map(int, input().split())
print(a * 3600, b * 60)

In [ ]:
n = int(input())
print(n ** 2 * 6)

In [ ]:
a, b = map(int, input().split())
print(a * b % 10)

In [ ]:
a, b = map(int, input().split())
a, b = b, a
print(a, b)

In [ ]:
n = int(input())
print(6 * n * (n - 1) + 1)

In [ ]:
print("Spring\nSummer\nAutumn\nWinter")

In [ ]:
print("*")
print("***")
print("*****")

In [ ]:
print("### ###   ### ###")
print(" #  #  #   #   #")
print(" #  #   #  #   #")
print(" #  #  #   #   #")
print(" #  ###    #   #")

In [ ]:
print("Monday\nTuesday\nWednesday\nThursday\nFriday\nSaturday\nSunday")

In [ ]:
print("January\nFebruary\nMarch\nApril\nMay\nJune\nJuly\nAugust\nSeptember\nOctober\nNovember\nDecember")

In [ ]:
for i in range(1, 10):
    print("Hello, world")